.featurette {
    overflow: hidden;
}

.featurette-image {

}

.featurette-heading {
    font-size: 50px;
}

section {
    padding: 100px 0
}

section.example {
    border-bottom: 3px solid #BDC3C7;
}